<h1>Editing Coupon</h1>

<%= form_tag coupon_path(@coupon) do %>
<label>Coupon Code</label><br>
<%= text_field_tag :'coupon[coupon_code]' %><br>
<label>Store</label><br>
<%= text_field_tag :'coupon[store]' %><br>
<%= submit_tag 'Update Coupon' %>
<% end %>

<%= link_to 'Show', @coupon %> |
<%= link_to 'Back', coupons_path %>
